#nav-header {
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
}

.nav-link {
  display: block;
  padding: 10px 20px 10px 50px;
  text-decoration: none;
  font-size: 1.1em;
  border-bottom: solid black 0.5px;
}

.nav-link:first-of-type {
  border-top: solid black 2px;
}

.nav-link:last-of-type {
  border-bottom: solid black 2px;
}

#main-doc {
  margin: 30px 50px;
  /*padding-left: 50px;*/
}

section {
  padding: 20px 0px;
  border-bottom: solid 0.5px #e2e2e2;
}
code {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px;
  display: block;
}